In [5]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import os
from torch.utils.data import DataLoader
from dataset import DCASE

In [6]:
root_dir = os.getcwd() + '/ADL_DCASE_DATA/development'
dataset = DCASE(root_dir, 3)

In [7]:
loader = DataLoader(dataset, batch_size=1, shuffle=True)

In [8]:
iterator = iter(loader)

data, label = iterator.next()

In [9]:
class CNN(nn.Module):
    
    def __init__(self):
        super().__init__()
        self.conv1 = nn.Conv2d(
            in_channels=self.input_shape.channels,
            out_channels=32,
            kernel_size=(5, 5),
            padding=(2, 2),
        )
        self.batch1 = nn.BatchNorm2d(32)
        self.conv2 = nn.Conv2d(
            in_channels=32,
            out_channels=64,
            kernel_size=(5, 5),
            padding=(2, 2),
        )
        self.batch2 = nn.BatchNorm2d(64)
        self.pool = nn.MaxPool2d(
            kernel_size=(2, 2), 
            stride=(2, 2)
        )
        self.fc1 = nn.Linear(4096, 1024)
    def forward(x):

SyntaxError: unexpected EOF while parsing (<ipython-input-9-e617f9de46d9>, line 25)

In [11]:
data.shape, label

(torch.Size([1, 10, 60, 150]), tensor([8]))

In [12]:
dataset._labels

                  file  label
0        a001_0_30.npy     12
1     a001_120_150.npy     12
2     a001_150_180.npy     12
3       a001_30_60.npy     12
4       a001_60_90.npy     12
...                ...    ...
1165  b116_180_210.npy     10
1166  b116_240_270.npy     10
1167    b116_30_60.npy     10
1168    b116_60_90.npy     10
1169   b116_90_120.npy     10

[1170 rows x 2 columns]

In [21]:
import pandas as pd
labels = pd.read_csv((dataset._root_dir / 'labels.csv'), names=['file', 'label'])

In [24]:
labels.head(10)

               file             label
0     a001_0_30.npy  residential_area
1  a001_120_150.npy  residential_area
2  a001_150_180.npy  residential_area
3    a001_30_60.npy  residential_area
4    a001_60_90.npy  residential_area
5   a001_90_120.npy  residential_area
6     a003_0_30.npy  residential_area
7  a003_120_150.npy  residential_area
8  a003_150_180.npy  residential_area
9  a003_180_210.npy  residential_area